.git
.githooks
.github
.idea
.vscode
.phpunit.cache
.php-cs-fixer.cache
coverage
coverage.xml
coverage-php.txt
vendor
node_modules
demo/**/.data
demo/**/var
demo/**/vendor
demo/**/node_modules
*.swp
.DS_Store
