<div id="modal-item-form-container" data-app-routes="{{ app_routes|default({})|json_encode|e('html_attr') }}" data-section-focus="{{ section_focus|default('') }}">
{{ component('dashboard_menu_item_form', {
    menu: menu,
    appRoutes: app_routes,
    excludeIds: exclude_ids,
    locale: locale,
    isEdit: is_edit,
    itemHasChildren: item_has_children,
    actionUrl: action_url,
    redirectToUrl: redirect_to_url,
    initialFormData: item,
    locales: locales|default([]),
    sectionFocus: section_focus|default(null),
}) }}
</div>
